{% extends 'site_template.html' %}

{% block imports %}
    <link href="../static/css/my_css/search.css" rel="stylesheet">
{% endblock %}


{% block body %}
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            {% if '[ERROR]' in message %}
            <div class="alert alert-danger" role="alert">
                {{ message }}
            </div>
            {% else %}
            <div class="alert alert-info" role="alert">
                {{ message }}
            </div>
            {% endif %}
        {% endfor %}
    {% endif %}
    {% endwith %}

     <form enctype="multipart/form-data" role="form" id="search-form" action="/advanced/file" method="post">
        {% if not macro_collections() %}
        <div class="alert alert-info" role="alert">
            You don't have a collection to make queries. Create one <a href="/collection/register">here</a>.
        </div>
        {% else %}
            <center class="optionbox">
                    <select form="search-form" name="collection" class="form-control">
                        {% if collection_id==null %}
                        <option selected="selected" disabled> CHOOSE A COLLECTION </option>
                        {% endif %}
                        {% for collection in macro_collections() %}
                            {%if collection_id==collection.id %}
                            <option value="{{collection.id}}" selected>
                               {{collection.name}}
                            </option>
                            {% else %}
                            <option value="{{collection.id}}">
                               {{collection.name}}
                            </option>
                            {% endif %}
                        {% endfor %}
                    </select>
            </center>
        {% endif %}
        <div id="page-wrapper-search-advanced">
            <div class="matchup-title-search">advanced search
            </div>
            <div class="container-fluid">
                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="input-group" id="adv-search">
                                        <center class="center-text-search">
                                            Select a file: <input form="search-form" type="file" name="file"><br><br>
                                            <div style="margin-top: 20px;" class="form-group col-md-12">
                                                <label style="color: #9C27B0;">ALGORITHM</label>
                                                <select form="search-form" name="algorithm" class="form-control" id="algorithm-select">
                                                {% if params %}
                                                  <option value="BeliefNetwork" {% if params['algorithm']=='BeliefNetwork' %} selected {% endif %}>Belief Network</option>
                                                  <option value="Boolean" {% if params['algorithm']=='Boolean' %} selected {% endif %}>Boolean</option>
                                                  <option value="ExtendedBoolean" {% if params['algorithm']=='ExtendedBoolean' %} selected {% endif %}>Extended Boolean</option>
                                                  <option value="GeneralizedVector" {% if params['algorithm']=='GeneralizedVector' %} selected {% endif %}>Generalized Vector</option>
                                                  <option value="Probabilistic" {% if params['algorithm']=='Probabilistic' %} selected {% endif %}>Probabilistic</option>
                                                  <option value="Vector" {% if params['algorithm']=='Vector' %} selected {% endif %}>Vector Space</option>
                                                {% else %}
                                                  <option value="BeliefNetwork">Belief Network</option>
                                                  <option value="Boolean">Boolean</option>
                                                  <option value="ExtendedBoolean">Extended Boolean</option>
                                                  <option value="GeneralizedVector">Generalized Vector</option>
                                                  <option value="Probabilistic">Probabilistic</option>
                                                  <option value="Vector">Vector Space</option>
                                                {% endif %}
                                                </select>
                                            </div>
                                            <div id="weighting">
                                                <div style="margin-top: 20px;" class="form-group col-md-6">
                                                    <label style="color: #9C27B0;">TF</label>
                                                    <select name="tf" form="search-form" class="form-control" id="tf-select">
                                                        {% if params %}
                                                      <option value="Binary" {% if params['tf']=='Binary' %} selected {% endif %}>Binary</option>
                                                      <option value="DoubleNormalization" {% if params['tf']=='DoubleNormalization' %} selected {% endif %}>Double Normalization</option>
                                                      <option value="DoubleNormalizationK" {% if params['tf']=='DoubleNormalizationK' %} selected {% endif %}>Double Normalization K</option>
                                                      <option value="LogNormalization" {% if params['tf']=='LogNormalization' %} selected {% endif %}>Log Normalization</option>
                                                      <option value="TermFrequency" {% if params['tf']=='TermFrequency' %} selected {% endif %}>Term Frequency</option>
                                                        {% else %}
                                                      <option value="Binary">Binary</option>
                                                      <option value="DoubleNormalization">Double Normalization</option>
                                                      <option value="DoubleNormalizationK">Double Normalization K</option>
                                                      <option value="LogNormalization">Log Normalization</option>
                                                      <option value="TermFrequency">Term Frequency</option>
                                                        {% endif %}
                                                    </select>
                                                </div>
                                                <div style="margin-top: 20px;" class="form-group col-md-6">
                                                    <label style="color: #9C27B0;">IDF</label>
                                                    <select name="idf" form="search-form" class="form-control" id="idf-select">
                                                        {% if params %}
                                                      <option value="ProbabilisticInverseFrequency" {% if params['idf']=='ProbabilisticInverseFrequency' %} selected {% endif %}>Probabilistic Inverse Frequency</option>
                                                      <option value="InverseFrequency" {% if params['idf']=='InverseFrequency' %} selected {% endif %}>Inverse Frequency</option>
                                                      <option value="InverseFrequencyMax" {% if params['idf']=='InverseFrequencyMax' %} selected {% endif %}>Inverse Frequency Max</option>
                                                      <option value="InverseFrequencySmooth" {% if params['idf']=='InverseFrequencySmooth' %} selected {% endif %}>Inverse Frequency Smooth</option>
                                                      <option value="Unary" {% if params['idf']=='Unary' %} selected {% endif %}>Unary</option>
                                                        {% else %}
                                                      <option value="ProbabilisticInverseFrequency">Probabilistic Inverse Frequency</option>
                                                      <option value="InverseFrequency">Inverse Frequency</option>
                                                      <option value="InverseFrequencyMax">Inverse Frequency Max</option>
                                                      <option value="InverseFrequencySmooth">Inverse Frequency Smooth</option>
                                                      <option value="Unary">Unary</option>
                                                        {% endif %}
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-12 from-group" id="hidden-p" hidden>
                                                {% if params %}
                                                <label style="color: #9C27B0;">P-VALUE: </label><input name="P" form="search-form" class="form-control" type="number" step="0.01" value="{{params['P']}}">
                                                {% else %}
                                                <label style="color: #9C27B0;">P-VALUE: </label><input name="P" form="search-form" class="form-control" type="number" step="0.01" value="0">
                                                {% endif %}
                                            </div>
                                            <div class="col-md-12 from-group" id="hidden-k" hidden>
                                                {% if params %}
                                                <label style="color: #9C27B0;">K-VALUE: </label><input name="K" form="search-form" class="form-control" type="number" step="0.01" value="{{params['K']}}">
                                                {% else %}
                                                <label style="color: #9C27B0;">K-VALUE: </label><input name="K" form="search-form" class="form-control" type="number" step="0.01" value="0">
                                                {% endif %}
                                            </div>
                                            <div style="margin-top: 10px;" class="col-md-12 form-group">
                                                <input type="submit" value="Search" class="btn btn-primary">
                                            </div>
                                        </center>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
     </form>

{% endblock %}

{% block footer %}
<script type="text/javascript">
    $(document).ready(function() {
        if($('#algorithm-select').val() === 'Boolean' || $('#algorithm-select').val() === 'Probabilistic'){
            $("#weighting").hide();
        }
        else{
            $("#weighting").show();
        }
        if ($('#algorithm-select').val() === 'ExtendedBoolean') {
            $("#hidden-p").show();
        }
        else {
            $("#hidden-p").hide();
        }

        if($('#tf-select').val() === 'DoubleNormalizationK'){
            $("#hidden-k").show();
        }
        else{
            $("#hidden-k").hide();
        }
    });

    $('input').on("input", function(e) {
        $(this).val($(this).val().replace("/", ""));
    });

    $('#algorithm-select').change(function() {
        if($(this).val() === 'Boolean' || $(this).val() === 'Probabilistic'){
            $("#weighting").hide();
            $("#hidden-k").hide();
        }
        else{
            $("#weighting").show();
            if($('#tf-select').val() === 'DoubleNormalizationK'){
                $("#hidden-k").show();
            }
        }
        if ($(this).val() === 'ExtendedBoolean') {
            $("#hidden-p").show();
        }
        else {
            $("#hidden-p").hide();
        }
    });

    $('#tf-select').change(function() {
        if($(this).val() === 'DoubleNormalizationK'){
            $("#hidden-k").show();
        }
        else{
            $("#hidden-k").hide();
        }
    });
</script>
{% endblock %}