 <div class="modal fade" id="modal-password" tabindex="-1" role="dialog" aria-labelledby="file-show-modal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
          <h2 class="modal-title" id="file-show-title">Change Password</h2>
      </div>
      <center class="modal-fileshow-body">
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-12">
                    <form id="change-password-form" action="/change-password" method="post" role="form">
                        <div class="form-group">
                            <input type="password" name="actual-password" id="actual-password" tabindex="2"
                                   class="form-control" placeholder="Actual password">
                        </div>
                        <div class="form-group">
                            <input type="password" name="new-password" id="new-password" tabindex="2"
                                   class="form-control" placeholder="New password">
                        </div>
                        <div class="form-group">
                            <input type="password" name="confirm-password" id="confirm-password" tabindex="2"
                                   class="form-control" placeholder="Confirm new password">
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-6 col-sm-offset-3">
                                    <input type="submit" name="change-password-submit" id="change-password-submit"
                                           tabindex="4" class="form-control btn btn-primary"
                                           value="Save">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
      </center>
        <p>
            <ol>
                <li>
                    Passwords must contain the following:
                    <ul>
                        <li> Minimum of 8 characters.</li>
                        <li> Contain a number.</li>
                        <li> Contain upper case character.</li>
                        <li> Contain lower case character.</li>
                        <li> Contain special character.</li>
                    </ul>
                </li>

            </ol>
        </p>
    </div>
  </div>
</div>
