{% extends 'site_template.html' %}

{% block body %}
    <div id="page-wrapper">

        <div class="container-fluid">

            <!-- Page Heading -->
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">
                        <span>{{collection['name']}}</span>
                        <button class="btn-delete-coll btn btn-danger pull-right" data-url="/collection/{{collection['id']}}">Delete</button>
                    </h1>
                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                         <div class="alert alert-info" role="alert">
                            {{ message }}
                         </div>
                        {% endfor %}
                    {% endif %}
                    {% endwith %}
                    <div class="col-lg-6">
                        <form role="form" method="post" action="/collection/{{collection['id']}}">

                            <fieldset id="fieldset-collection">

                                <div class="form-group">
                                    <label>Collection name</label>
                                    <input class="form-control" id="collection-name" name="name" type="text" value="{{collection['name']}}" placeholder="Collection name" disabled>
                                </div>

                                <div class="form-group">
                                    <label>Description</label>
                                    <textarea class="form-control" id="collection-description" name="description" rows="3" placeholder="Description" disabled>{{collection['description']}}</textarea>
                                </div>
                                <div class="form-group">
                                    <button id="btn-edit-col" type="button" class="btn btn-primary">Edit</button>
                                    <input id="btn-save-col" type="submit" class="btn btn-success btn-inactive" value="Save">
                                </div>
                            </fieldset>
                        </form>


                    </div>
                    <div class="col-lg-12">
                        <h2>
                            <span>Archives</span>
                            <button class="btn btn-info pull-right" data-toggle="modal" data-target="#modal-file">Add <span class="fa fa-plus"></span></button>
                            <button id="btn-process" style="margin-right: 10px" class="btn btn-success pull-right" data-url="/collection/{{collection['id']}}/process">Save <span class="fa fa-save"></span> </button>
                        </h2>
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th>File name</th>
                                        <th>Size (KB)</th>
                                        <th>Extension</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for file in files["files"] %}
                                        <tr>
                                            <td>{{file.name}}</td>
                                            <td>{{file.size}}</td>
                                            <td>{{file.extension}}</td>
                                            <td>
                                                <button title="Remove" class="btn-delete-file fa fa-times" data-url="/collection/{{collection['id']}}/{{file.name}}"></button>
                                                <button title="Show" class="btn-show-file fa fa-eye" data-url="/collection/{{collection['id']}}/{{file.name}}"></button>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            {% if not files["files"]%}
                                Empty Collection
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Modal de cadastro de arquivos-->
    <div class="modal fade" id="modal-file" tabindex="-1" role="dialog" aria-labelledby="modal-fileupload" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <form enctype="multipart/form-data" role="form" method="post" action="/collection/{{collection['id']}}/upload">
              <div class="modal-header">
                <h5 class="modal-title" id="modal-file-title">Add file</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                Select a file: <input type="file" name="file" multiple><br><br>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <input type="submit" class="btn btn-primary" value="Save">
              </div>
          </form>
        </div>
      </div>
    </div>

    <!--Exibição do arquivo-->
    <div class="file-exhibition">
        {% include "file-show.html" %}
    </div>


{% endblock %}

{% block footer %}
<script type="text/javascript">

    $("#btn-edit-col").click(function(){
        $("#collection-description").prop('disabled', false);
        $("#collection-name").prop('disabled', false);
        $("#btn-edit-col").prop('disabled', true);
        $("#btn-save-col").removeClass("btn-inactive")
    });

    $(".btn-show-file").click(function(){
        $.ajax({
            url: $(this).data("url"),
            type: 'get',
            success: function(response){
                $(".file-exhibition").html(response);
                $("#file-show").modal('show');
            }
        });
    });

    $(".btn-delete-file").click(function(){
        r = confirm("Are you sure?")
        if(r == true){
            $.ajax({
                url: $(this).data("url"),
                type: 'delete',
                success: function(response){
                    location.reload();
                }
            });
        }
    });

    $(".btn-delete-coll").click(function(){
        r = confirm("Are you sure?")
        if(r == true){
            $.ajax({
                url: $(this).data("url"),
                type: 'delete',
                success: function(response){
                    location.replace(window.location.origin);
                }
            });
        }
    });

    $("#btn-process").click(function(e){
        e.preventDefault();
        url = $(this).data("url");
        $.ajax({
                url: url,
                type: 'get',
                success: function(){
                    location.reload();
                }
        });
    });


</script>
{% endblock %}
