{% extends 'site_template.html' %}

{% block imports %}
    <link href="../static/css/my_css/search.css" rel="stylesheet">
{% endblock %}

{% block body %}
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            {% if '[ERROR]' in message %}
            <div class="alert alert-danger" role="alert">
                {{ message }}
            </div>
            {% else %}
            <div class="alert alert-info" role="alert">
                {{ message }}
            </div>
            {% endif %}
        {% endfor %}
    {% endif %}
    {% endwith %}

     <form enctype="multipart/form-data" role="form" id="search-form-file" action="/search/file" method="post">
        {% if not macro_collections() %}
        <div class="alert alert-info" role="alert">
            You don't have a collection to make queries. Create one <a href="/collection/register">here</a>.
        </div>
        {% else %}
            <center class="optionbox">
                    <select form="search-form-file" name="collection" class="form-control">
                        {% if collection_id==null %}
                        <option selected="selected" disabled> CHOOSE A COLLECTION </option>
                        {% endif %}
                        {% for collection in macro_collections() %}
                            {%if collection_id==collection.id %}
                            <option value="{{collection.id}}" selected>
                               {{collection.name}}
                            </option>
                            {% else %}
                            <option value="{{collection.id}}">
                               {{collection.name}}
                            </option>
                            {% endif %}
                        {% endfor %}
                    </select>
            </center>
        {% endif %}
        <div id="page-wrapper-search">
            <div class="matchup-title-search">match up
            </div>
            <div class="container-fluid">
                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="input-group" id="adv-search">
                                        <center class="center-text-search">
                                             Select a file: <input form="search-form-file" type="file" name="file"><br><br>
                                            <input type="submit" value="Search" class="btn btn-primary">
                                        </center>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
         <center style="margin-top: 100px;"><p style="color: #9C27B0;">Would you like to configure your search engine?</p></center>
         <center><a href="/advanced/file">Click here</a></center>
     </form>

{% endblock %}

{% block footer %}
<script type="text/javascript">
    $('input').on("input", function(e) {
        $(this).val($(this).val().replace("/", ""));
    });
</script>
{% endblock %}